<div>
  <table>
    <tr>
      <td><img [src]="fruitObject.fruitImage" /></td>
      <td>
        <table>
          <tr>
            <td>
              <label>Fruit Name</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="fruitObject.fruitName" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Fruit Prize</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="fruitObject.fruitPrize" />
            </td>
          </tr>
          <tr>
            <td>
              <label> Fruit Color</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="fruitObject.fruitColor" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Fruit Discount</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="fruitObject.fruitDiscount" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button (click)="calculatePrizeAfterDiscount(fruitObject)" class="btn btn-primary">
                calculatePrizeAfterDiscount
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label>Fruit Prize After Discount</label>
            </td>
            <td>
              <input
                type="text"
                [(ngModel)]="fruitObject.fruitPrizeAfterDiscount"
              />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
